<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab *ngIf="admin" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/crear-producto']">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="!admin" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="cart-sharp" [routerLink]="['/carrito',id_usuario]"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngFor="let pro of productos">
  <ion-card *ngIf="pro.stock > 0">
    <ion-img [src]="pro.img"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ pro.nombre }}</ion-card-title>
      <ion-card-subtitle *ngIf="pro.en_oferta == false">{{pro.precio | currency:'CLP'}}</ion-card-subtitle>
      <ion-card-subtitle *ngIf="pro.en_oferta == true">{{pro.precio_oferta | currency:'CLP'}} <span *ngIf="pro.en_oferta == true" style="color: red;"><li><del>{{pro.precio}}</del></li></span></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-label><ion-chip [color]="pro.stock<15?'danger':'primary'">Stock actual : {{pro.stock}}</ion-chip></ion-label>
    </ion-card-content>

    <!--Para los clientes-->
    <ion-card-content *ngIf="!admin" style="display: flex; justify-content: space-between;">
      <ion-button color="primary" [routerLink]="['/producto',pro.id]">
        <ion-icon name="eye-sharp"></ion-icon>
      </ion-button>
    </ion-card-content>

    <!--Para los administradores-->
    <ion-card-content *ngIf="admin" style="display: flex; justify-content: space-between;">
      <ion-button color="danger" (click)="delete_producto(pro)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>

      <ion-button color="primary" (click)="update_producto(pro)">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <br>
</div>

  <ion-infinite-scroll threshold="50px" (ionInfinite)="cargarMasDatos()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{texto_carga}}"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>


<ion-footer>
  <ion-button color="warning" [routerLink]="['/']">
    <ion-icon name="arrow-back-outline"></ion-icon> Volver
  </ion-button>
</ion-footer>
